.nav {
    background-color: rgb(240, 212, 207);
    display: flex;
    column-gap: 0.5rem;
    padding-left: 1rem;
    padding-top: 0.25rem;
}

.nav>a {
    background-color: rgb(240, 233, 212);
    text-decoration: none;
}